<a href="https://colab.research.google.com/github/Vishwas02mehta/ML-assignments3rdyear102317022/blob/main/assignment2ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.preprocessing import KBinsDiscretizer

# Load the dataset
df = pd.read_csv('/AWCustomers.csv')

# Selected features
selected_features = [
    'BirthDate', 'Gender', 'MaritalStatus', 'Education', 'Occupation',
    'HomeOwnerFlag', 'NumberCarsOwned', 'TotalChildren', 'NumberChildrenAtHome',
    'CountryRegionName', 'YearlyIncome'
]
resultattribute = 'FirstName'
df = df[selected_features + [resultattribute]]

# Part 2
# (a) Handling Null Values
for col in df.columns:
    if df[col].isnull().sum() > 0:
        if pd.api.types.is_numeric_dtype(df[col]):
            df[col].fillna(df[col].mean(), inplace=True)
        else:
            df[col].fillna(df[col].mode()[0], inplace=True)

# (b) Normalization (Min-Max Scaling)
scaler = MinMaxScaler()
numeric_cols = ['HomeOwnerFlag', 'NumberCarsOwned', 'TotalChildren', 'NumberChildrenAtHome', 'YearlyIncome']
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

# (c) Standardization
standard_scaler = StandardScaler()
df[numeric_cols] = standard_scaler.fit_transform(df[numeric_cols])

# (d) One-Hot Encoding for Categorical Variables
categorical_cols = ['Gender', 'MaritalStatus', 'Education', 'Occupation', 'CountryRegionName']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

# (e) Discretization (Binning) for Continuous Attribute 'YearlyIncome'
kbins = KBinsDiscretizer(n_bins=4, encode='ordinal', strategy='uniform')
df['YearlyIncome_Binned'] = kbins.fit_transform(df[['YearlyIncome']])

print(df.head())
print(df.shape)

#part 3
from sklearn.model_selection import train_test_split


if 'BirthDate' in df.columns:
    df = df.drop(columns=['BirthDate'])


X = df.drop(columns=['FirstName'])
y = df['FirstName']


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42, stratify=None
)

print("Training set shape:", X_train.shape)
print("Testing set shape:", X_test.shape)

    BirthDate  HomeOwnerFlag  NumberCarsOwned  TotalChildren  \
0  1987-11-13       0.798603         1.892524       0.161342
1  1972-07-21       0.798603         0.798389       1.239753
2  1985-11-09      -1.252187         1.892524      -0.917069
3  1977-10-18       0.798603         0.798389       1.239753
4  1975-02-05       0.798603        -0.295746      -0.917069

   NumberChildrenAtHome  YearlyIncome FirstName  Gender_M  MaritalStatus_S  \
0             -0.594371      0.298555      Chad      True            False
1              1.163279      0.271180      Ryan      True            False
2             -0.594371      0.444261     Julia     False             True
3              1.163279     -0.367401  Theodore      True            False
4             -0.594371     -0.682765  Marshall      True             True

   Education_Graduate Degree  ...  Occupation_Management  Occupation_Manual  \
0                      False  ...                  False              False
1                      False  ...                  False              False
2                      False  ...                  False              False
3                      False  ...                  False              False
4                      False  ...                  False              False

   Occupation_Professional  Occupation_Skilled Manual  \
0                    False                      False
1                    False                      False
2                    False                      False
3                    False                       True
4                    False                       True

   CountryRegionName_Canada  CountryRegionName_France  \
0                     False                     False
1                      True                     False
2                     False                     False
3                     False                     False
4                     False                     False

   CountryRegionName_Germany  CountryRegionName_United Kingdom  \
0                      False                             False
1                      False                             False
2                      False                             False
3                      False                              True
4                       True                             False

   CountryRegionName_United States  YearlyIncome_Binned
0                            False                  1.0
1                            False                  1.0
2                             True                  2.0
3                            False                  1.0
4                            False                  0.0

[5 rows x 23 columns]
(18361, 23)
Training set shape: (12852, 21)
Testing set shape: (5509, 21)